@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap');
.ak47{
    width: 200px;
    height: 275px;
    margin-left: 42%;

}
body{

    background-color: pink;

}
.st {

    background-color: rgb(96, 233, 219);
    text-align: center;
    font-style: oblique;

}
.sec{
    
    background-color: aquamarine;

}
.th1{

    background-color: rgb(105, 242, 98);

}
.fo {
    background-color: rgb(91, 170, 249);
}
.fif{
    background-image: -moz-element();


}

